# This is for dataset that crawled from Github

In [1]:
import pandas as pd 

news_content =  pd.read_csv('all_news.csv', index_col=False)
news_content.head()

                                             content
0  -- Hey buddy, can you spare $600 for a Google ...
1  -- Walgreen November same-store sales up,-- ,-...
2  -- Pfizer shares at risk following heart-drug ...
3  -- OPEC divided on need for deeper output curb...
4  -- Warner Music revenue down, sees weaker 1st-...

In [2]:
def news_prettify(contents):
    
    News_Dataset_dict = dict()
    News_Dataset_dict['title']=list()
    News_Dataset_dict['body']=list()
    News_Dataset_dict['detail']=list()
    
    for content in contents:
        news = content.split('\n')
        if len(news)==4:
            News_Dataset_dict['title'].append(news[2])
            News_Dataset_dict['body'].append(news[3])
            News_Dataset_dict['detail'].append(news[0])
    
    News_Dataset = pd.DataFrame(data=News_Dataset_dict)
    return News_Dataset

In [3]:
data=news_prettify(news_content['content'])

In [4]:
print("Dataset Shape: \n" + str(data.shape))
print("Dataset Head Rows: \n" + data.head())

Dataset Shape:
(4831, 3)
                                               title  \
0  Dataset Head Rows: \n, SAN FRANCISCO/NEW YORK ...
1  Dataset Head Rows: \n, CHICAGO  (Reuters) - Wa...
2  Dataset Head Rows: \n, NEW YORK  (Reuters) - W...
3  Dataset Head Rows: \n, CAIRO  (Reuters) - OPEC...
4  Dataset Head Rows: \n, NEW YORK  (Reuters) - W...

                                                body  \
0  Dataset Head Rows: \n,  Brokers were respondin...
1  Dataset Head Rows: \n, Analysts, on average, h...
2  Dataset Head Rows: \n, On Saturday Pfizer ( PF...
3  Dataset Head Rows: \n, Saudi Oil Minister Ali ...
4  Dataset Head Rows: \n, Warner Music's first qu...

                                              detail
0  Dataset Head Rows: \n-- Hey buddy, can you spa...
1  Dataset Head Rows: \n-- Walgreen November same...
2  Dataset Head Rows: \n-- Pfizer shares at risk ...
3  Dataset Head Rows: \n-- OPEC divided on need f...
4  Dataset Head Rows: \n-- Warner Music revenue d...

In [8]:
# import nltk 
# nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\mohammad
[nltk_data]     feili\AppData\Roaming\nltk_data...

True

In [6]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

news = data['title'][0]
print(sia.polarity_scores(news))

{'neg': 0.047, 'neu': 0.953, 'pos': 0.0, 'compound': -0.2247}

In [7]:
news = data['body'][0]
print(sia.polarity_scores(news))

{'neg': 0.029, 'neu': 0.892, 'pos': 0.08, 'compound': 0.9609}

In [8]:
news = data['detail'][0]
print(sia.polarity_scores(news))

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [13]:
def label(data):
    
    data_class = dict()
    data_class['title_class'] = list()
    data_class['body_class']  = list()
    
    for i in range(data.shape[0]):
        data_class['title_class'].append(sia.polarity_scores(data['title'][i])['compound'])
        data_class['body_class'].append(sia.polarity_scores(data['body'][i])['compound'])
        
    label_class = pd.DataFrame(data=data_class)
    return label_class

In [14]:
data_label = label(data)

In [16]:
data_label.head()

   title_class  body_class
0      -0.2247      0.9609
1       0.0000      0.0000
2      -0.0018      0.9955
3      -0.7845     -0.9769
4      -0.3400      0.9845

In [20]:
data_label.to_csv('data_label.csv', index=False)

# This is for dataset that crawled from NewYork Times website for ten years

In [21]:
ny_data = pd.read_csv('ready_news.csv', index_col= False)
ny_data.head()

,title,body
0,Malaysia Files Criminal Charges Against Goldma...,In the wake of a scandal that brought down the...
1,How Much Could the 1MDB Scandal Cost Goldman S...,A huge fraud at a Malaysian investment fund ha...
2,Goldman’s Malaysian Scandal Revives the ‘Too B...,There are risks when filing criminal charges a...
3,1MDB Case in Malaysia Deepens Goldman’s Crisis,The Malaysian government filed charges against...
4,"After Early Victories, N.J. Governor Is Underm...","Swept into office as a progressive reformer, G..."

In [23]:
# the label function introduced in proceeding cells
ny_label = label(ny_data)
ny_label.to_csv('ny_label.csv', index=False)
ny_label.head()

   title_class  body_class
0      -0.8126     -0.4404
1      -0.4404     -0.3612
2      -0.0772     -0.5106
3      -0.6249     -0.4767
4       0.0516     -0.3818