In [38]:
import pandas as pd 

news_content =  pd.read_csv('items.csv', index_col=False)
news_content.head()

                                             content
0  -- Hey buddy, can you spare $600 for a Google ...
1  -- EU to urge China to open economy further,--...
2  -- AOL CEO says sales may shrink for two years...
3  -- UPDATE 2-Wal-Mart sees improvment in health...
4  -- WRAPUP 3-US November trade gap narrowest si...

In [102]:
def news_prettify(contents):
    
    News_Dataset_dict = dict()
    News_Dataset_dict['title']=list()
    News_Dataset_dict['body']=list()
    News_Dataset_dict['detail']=list()
    
    for content in contents:
        news = content.split('\n')
        if len(news)==4:
            News_Dataset_dict['title'].append(news[2])
            News_Dataset_dict['body'].append(news[3])
            News_Dataset_dict['detail'].append(news[0])
    
    News_Dataset = pd.DataFrame(data=News_Dataset_dict)
    return News_Dataset

In [103]:
data=news_prettify(news_content['content'])

In [107]:
print("Dataset Shape: \n" + str(data.shape))
print("Dataset Head Rows: \n" + data.head())

Dataset Shape:
(3181, 3)
                                               title  \
0  Dataset Head Rows: \n, SAN FRANCISCO/NEW YORK ...
1  Dataset Head Rows: \n, BRUSSELS  (Reuters) - T...
2  Dataset Head Rows: \n, FRANKFURT  (Reuters) - ...
3  Dataset Head Rows: \n, NEW YORK  (Reuters) - W...
4  Dataset Head Rows: \n, NEW YORK  (Reuters) - I...

                                                body  \
0  Dataset Head Rows: \n,  Brokers were respondin...
1  Dataset Head Rows: \n,  The EU's executive Com...
2  Dataset Head Rows: \n,  "Maybe another two yea...
3  Dataset Head Rows: \n, Although the company ga...
4  Dataset Head Rows: \n, Contrary to pessimism o...

                                              detail
0  Dataset Head Rows: \n-- Hey buddy, can you spa...
1  Dataset Head Rows: \n-- EU to urge China to op...
2  Dataset Head Rows: \n-- AOL CEO says sales may...
3  Dataset Head Rows: \n-- Williams-Sonoma affirm...
4  Dataset Head Rows: \n-- Tyco split could be lu...